<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Contact_Tracking.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <userSettings>
    <Contact_Tracking.Properties.Settings>
      <setting name="ServerPath" serializeAs="String">
        <value />
      </setting>
      <setting name="DataPath" serializeAs="String">
        <value>F:\derpy_Developments\Contact Tracking\Data\</value>
      </setting>
      <setting name="Size" serializeAs="String">
        <value>1250, 600</value>
      </setting>
      <setting name="Position" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="cmdCommand" serializeAs="String">
        <value>-Xmx4G @libraries/net/minecraftforge/forge/1.18.1-39.0.64/win_args.txt %* --nogui</value>
      </setting>
      <setting name="JavaPath" serializeAs="String">
        <value>C:\Program Files\Java\jdk-17.0.2\bin\java.exe</value>
      </setting>
      <setting name="CheckForUpdates" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Language" serializeAs="String">
        <value>EN</value>
      </setting>
      <setting name="ShowTooltips" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="PublicKey" serializeAs="String">
        <value>MyPublicSecretKey</value>
      </setting>
      <setting name="PrivateKey" serializeAs="String">
        <value>MySecretKey</value>
      </setting>
      <setting name="SecurityKey" serializeAs="String">
        <value>b14ca5898a4e4133bbce2ea2315a1916</value>
      </setting>
      <setting name="MaxVisits" serializeAs="String">
        <value>36</value>
      </setting>
      <setting name="MySetting" serializeAs="String">
        <value>abcd</value>
      </setting>
    </Contact_Tracking.Properties.Settings>
  </userSettings>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
    <remove invariant="System.Data.SQLite" /><add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" /></DbProviderFactories>
  </system.data>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.4.1" newVersion="4.0.4.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>