<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Contact_Tracking.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <userSettings>
    <Contact_Tracking.Properties.Settings>
      <setting name="DataPath" serializeAs="String">
        <value />
      </setting>
      <setting name="Size" serializeAs="String">
        <value>1250, 600</value>
      </setting>
      <setting name="Position" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="CheckForUpdates" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Language" serializeAs="String">
        <value>en-US</value>
      </setting>
      <setting name="ShowTooltips" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SecurityKey" serializeAs="String">
        <value />
      </setting>
      <setting name="MaxVisits" serializeAs="String">
        <value>36</value>
      </setting>
      <setting name="Password" serializeAs="String">
        <value>admin</value>
      </setting>
      <setting name="RequirePassword" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SaveStats" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Stats_DaysToSave" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="Stats_DaysToShow" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="ShowBadge" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Corona_VaccinatedDuration" serializeAs="String">
        <value>180</value>
      </setting>
      <setting name="Corona_TestedDuration" serializeAs="String">
        <value>24</value>
      </setting>
      <setting name="Corona_MinAgeTest" serializeAs="String">
        <value>14</value>
      </setting>
      <setting name="SaveVisits" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="VisitDaysSave" serializeAs="String">
        <value>28</value>
      </setting>
      <setting name="InstalledVersion" serializeAs="String">
        <value />
      </setting>
      <setting name="SecurityIV" serializeAs="String">
        <value />
      </setting>
      <setting name="FlipCamera" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PersonIdleDays" serializeAs="String">
        <value>28</value>
      </setting>
      <setting name="SplitLog" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SplitLogAt" serializeAs="String">
        <value>18:30</value>
      </setting>
      <setting name="SplitStats" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SplitStatsAt" serializeAs="String">
        <value>18:30</value>
      </setting>
    </Contact_Tracking.Properties.Settings>
  </userSettings>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
    <remove invariant="System.Data.SQLite" /><add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" /></DbProviderFactories>
  </system.data>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.4.1" newVersion="4.0.4.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>